<div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-12 col-xs-12">
        <div class="shop-inner">
          <div class="page-title">
            <h2><%= t ".food_category" %></h2>
          </div>
          <div class="product-grid-area">
            <ul class="products-grid">
              <% if @food_product %>
                <%= render @food_product %>
              <% else %>
                <p><%= t ".no_item" %></p>
              <% end %>
            </ul>
          </div>
          <% if @food_product %>
            <%= paginate @food_product, class: "pagination-area",
              previous_label: "<", next_label: ">" %>
          <% else %>
            <div class="pagination-area ">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container col2-right-layout">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-12 col-xs-12">
        <div class="shop-inner">
          <div class="page-title">
            <h2><%= t ".drink_category" %></h2>
          </div>
          <div class="product-grid-area">
            <ul class="products-grid">
              <% if @drink_product %>
                <%= render @drink_product %>
              <% else %>
                <p><%= t ".no_item" %></p>
              <% end %>
            </ul>
          </div>
          <% if @drink_product %>
            <%= paginate @drink_product, class: "pagination-area",
              previous_label: "<", next_label: ">" %>
          <% else %>
            <div class="pagination-area ">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
