<% @suggests.each_with_index do |suggest, index| %>
  <tr>
    <td><%= create_index params[:page], index, Settings.suggests.paginate.per_page %></td>
    <td class="th-product"><%= image_tag suggest.picture.url %></td>
    <td><%= suggest.name %></td>
    <td><%= suggest.describe %></td>
    <td><%= suggest.price %></td>
    <td><%= suggest.status %></td>
    <td>
      <% if suggest.pending? %>
        <%= link_to edit_suggest_path(suggest) do %>     
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        |
        <%= link_to suggest_path(suggest), method: :delete,
          data: {confirm: t("admin.suggests.destroy.confirm")} do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
