<% provide :title, t(".signup") %>
<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">
          <h4><%= t ".signup" %></h4>
          <p class="before-login-text"><%= t ".create_account" %></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
              <%= f.label :username %>
              <%= f.text_field :username, class: "form-control" %>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              <%= f.label :address %>
              <%= f.text_field :address, class: "form-control" %>
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control" %>
              <%= f.submit t(".signup"), class: "button" %>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
