<% @order_details.each_with_index do |order_detail, index| %>
  <tr>
    <td><%= create_index params[:page], index, Settings.suggests.paginate.per_page %></td>
    <td class="th-product">
      <%= image_tag order_detail.product_picture.url, alt: order_detail.product.name %>
    </td>
    <td><%= link_to order_detail.product_name, order_detail.product %></td>
    <td><%= order_detail.product_price %></td>
    <td><%= order_detail.quantity %></td>
    <td><%= calc_price order_detail.product_price, order_detail.quantity %></td>
  </tr>
<% end %>
