<% provide :title, t(".manage_orders") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t "admin.layouts.manage_orders" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_order" %>
          <div class="labelsearch">
            <div id="search">
              <%= search_form_for @search, url: admin_orders_path, method: :get do |f| %>
                <div class="input-group search-order">
                  <%= f.select :status_cont, options_for_select(select_status), {} , class: "form-control select" %>
                  <%= f.button type: "submit", class: "btn-search sbutton zbutton", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="wishlist-item table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".index" %></th>
                  <th><%= t ".user_email" %></th>
                  <th><%= t ".user_name" %></th>
                  <th><%= t ".total" %></th>
                  <th><%= t ".status" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-order">
                <%= render partial: "order" %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @orders, theme: "twitter-bootstrap-3" %>
    </div>
    <%= link_to t(".back"), :back %>
  </div>
</div>
