<% provide :title, t(".manage_order_details") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t ".manage_order_details" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_order_detail" %>
        </div>
        <div class="panel-body">
          <div class="wishlist-item table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".no_order" %></th>
                  <th class="th-product"><%= t ".pricure" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".quantity" %></th>
                  <th><%= t ".unit_price" %></th>
                  <th><%= t ".total" %></th>
                </tr>
              </thead>
              <tbody id="list-order-detail">
                <%= render partial: "order_detail" %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" rowspan="2"></td>
                  <td colspan="1"><strong><%= t ".total" %></strong></td>
                  <td colspan="2">
                    <strong id="cart-total-price">
                      <%= t ".total_price", price: total_price(@order_details) %>
                    </strong>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <%= link_to t(".back"), :back %>
      <%= paginate @order_details, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
