<% provide :title, t(".manage_categories") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t ".manage_categories" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        <%= link_to t(".add_new"), new_admin_category_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_category" %>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".index" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".quatity" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-category">
                <%= render partial: "category" %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @categories %>
    </div>
  </div>
</div>
