<% provide :title, t(".manage_products") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t ".manage_products" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-heading">
        <%= link_to t(".add_new"), new_admin_product_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_product" %>
          <div class="labelsearch product">
              <%= search_form_for @search, url: admin_products_path, method: :get do |f| %>
                <div class="input-group">
                  <%= f.search_field :name_cont, class: "form-control-product", placeholder: t(".name") %>
                  <%= f.select :category_id_start, options_for_select(select_category),
                    {}, class: "form-control-select" %>
                  <%= f.button type: "submit", class: "btn-search sbutton pbutton", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>
        <div class="panel-body">
          <div class="wishlist-item table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".index" %></th>
                  <th class="th-product"><%= t ".picture" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".quantity" %></th>
                  <th><%= t ".price" %></th>
                  <th><%= t ".category_id" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-product">
                <%= render partial: "product" %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @products, theme: "twitter-bootstrap-3" %>
    </div>
    <%= link_to t(".back"), :back %>
  </div>
</div>
