<% provide :title, t(".manage_users") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t ".manage_users" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_user" %>
          <div class="labelsearch">
            <div id="search">
              <%= search_form_for @search, url: admin_users_path, method: :get do |f| %>
                <div class="input-group">
                  <%= f.search_field :username_or_email_cont, class: "form-control sinput", placeholder: t(".name_email") %>
                  <%= f.button type: "submit", class: "btn-search sbutton", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".index" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".address" %></th>
                  <th><%= t ".phone" %></th>
                  <th><%= t ".email" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-category">
                <%= render partial: "user" %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @users %>
      <%= link_to t(".back"), :back %>
    </div>
  </div>
</div>
