<% provide :title, t(".manage_suggests") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t ".manage_suggests" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t ".list_suggest" %>
          <div class="labelsearch">
            <div id="search">
              <%= search_form_for @search, url: admin_suggests_path, method: :get do |f| %>
                <div class="input-group search-order">
                  <%= f.select :status_cont, options_for_select(select_status),
                    {}, class: "form-control sinput select", placeholder: t(".status_search") %>
                  <%= f.button type: "submit", class: "btn-search sbutton zbutton", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="wishlist-item table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".index" %></th>
                  <th><%= t ".username" %></th>
                  <th><%= t ".picture" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".describe" %></th>
                  <th><%= t ".price" %></th>
                  <th><%= t ".status" %></th>
                  <th><%= t ".function" %></th>
                </tr>
              </thead>
              <tbody id="list-suggest">
                <%= render partial: "suggest" %>
              </tbody>
            </table>
        </div>
      </div>
      <%= paginate @suggests %>
    </div>
    <%= link_to t(".back"), :back %>
  </div>
</div>
