<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-md-5 hidden-xs">
            <div class="welcome-msg "><%= t ".wellcome_msg" %></div>
            <span class="phone hidden-sm"><%= t ".call_us" %></span>
          </div>
          <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
            <div class="links">
              <% if user_signed_in? %>
                  <div class="login">
                    <%= link_to current_user do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <span class="hidden-xs"><%= t ".my_account" %></span>
                    <% end %>
                  </div>
                  <div class="login">
                    <%= link_to orders_path do %>
                      <i class="fa fa-history"></i>
                      <span class="hidden-xs" ><%= t ".history_order" %></span>
                    <% end %>
                  </div>
                  <div class="login">
                    <%= link_to suggests_path do %>
                      <i class="fa fa-history"></i>
                      <span class="hidden-xs" ><%= t ".history_suggests" %></span>
                    <% end %>
                  </div>
                  <% if current_user.is_admin? %>
                    <div class="login">
                      <%= link_to admin_root_path do %>
                        <i class="fa fa-tachometer"></i>
                        <span class="hidden-xs"><%= t ".dashboard_admin" %></span>
                      <% end  %>
                    </div>
                  <% end %>
                  <div class="login">
                    <%= link_to signout_path, method: :delete do %>
                      <span class="glyphicon glyphicon-log-out"></span>
                      <span class="hidden-xs"><%= t ".log_out" %></span>
                    <% end %>
                  </div>
              <% else %>
                <div class="login">
                  <%= link_to signin_path do %>
                    <i class="fa fa-sign-in"></i>
                    <span class="hidden-xs"><%= t ".sign_in" %></span>
                  <% end %>
                </div>
                <div class="signup">
                  <%= link_to signup_path do %>
                    <i class="fa fa-user-plus"></i>
                    <span class="hidden-xs"><%= t ".sign_up" %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12">
          <div class="logo">
            <%= link_to root_path, title: t(".logo") do %>
              <%= image_tag("logo.png", atl: t(".logo"))%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-7">
          <div class="top-search">
            <div id="search">
              <%= form_tag search_path, method: :get do %>
               <%= text_field_tag :name, nil, class: "form-control", placeholder: t(".search_place_holder") %>
                  <%= button_tag type: "submit", class: "btn-search", name: nil do %>
                    <%= content_tag :i, "", class: "fa fa-search" %>
                  <% end %>
                <% end %>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-xs-3 top-cart">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div class="basket dropdown-toggle">
                <%= link_to cart_path do %>
                  <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                  <div class="shoppingcart-inner hidden-xs">
                    <span class="cart-title"><%= t ".cart" %></span>
                    <span class="cart-total"><%= t ".items", item: current_order.size %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
